@import "./mediaquery.scss";
body {
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}
.btn-mystyle {
  background-color: purple;
  color: white;
}
.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}
// .container, .container-lg, .container-md, .container-sm, .container-xl{
//   max-width: 95vw;
// }

.nav-item {
  width: fit-content;
  min-width: 12vw;
  margin-left: 1rem;
  margin-right: 1rem;
  border-style: 1px;
  @include bp("phone") {
    font-size: 2.4vw;
  }

  @include bp("tablet") {
    font-size: 1.8vw;
  }

  @include bp("laptop") {
    font-size: 1.4vw;
  }

  @include bp("television") {
    font-size: 1vw;
  }

  text-align: center;
}

.nav-pills {
  flex-direction: row;
  .nav-link {
    border-radius: 0;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #3b3b3b;
}
.navbar-nav {
  // @include bp("phone") {
  //   background-color: yellow;
  // }
  // @include bp("tablet") {
  //   background-color: green;
  // }
  // @include bp("laptop") {
  //   background-color: pink;
  // }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: 0;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  @include bp("phone") {
    max-width: 95vw;
  }

  @include bp("tablet") {
    max-width: 85vw;
  }

  @include bp("laptop") {
    max-width: 70vw;
  }
}

.img-logo {
  @include bp("phone") {
    width: auto;
  }
  @include bp("tablet") {
    width: 24vw;
  }
  @include bp("laptop") {
    width: 13vw;
  }
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-top: 32px solid #3b3b3b;
}
.side-bar {
  background-color: "brown";
  width: "60%";
}

.side-bar-item {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border-radius: 5px;

  cursor: pointer;
  p {
    // margin-top: 3px;
    // margin-left: 3px;
    // padding-top: 3px;
    color: white;
    @include bp("phone") {
      font-size: small;
    }
    @include bp("tablet") {
      font-size: medium;
    }
    // @include bp("laptop") {
    //   font-size: .8rem;
    // }
  }
}

.footer-div {
  background-color: #1b1818;
  hr {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    border-top: 6px solid #cfcfd0;
  }
}

// .search-bar{
//   @include bp("phone") {
//     width: 80vw;
//   }
//   @include bp("tablet") {
//     width: 20vw;
//   }
//   @include bp("laptop") {
//     width: 30vw;
//   }
// }

.message-list-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @include bp("phone") {
    height: 300px;
  }

  @include bp("tablet") {
    height: 64.5vw;
  }
  @include bp("laptop") {
    height: 650px;
  }
  overflow: scroll;
  overflow-x: hidden;
  .card-style {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    display: flex;

    @include bp("tablet") {
      flex-direction: column;
    }
    @include bp("laptop") {
      flex-direction: row;
    }
    justify-content: space-between;
    border-radius: 8px;
    .user-column {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      img {
        width: 58.25px;
        height: 58.25px;
        border-radius: 5rem;
      }
      p {
        margin: 0;
        font-size: small;
      }
    }
    .message-column {
      display: flex;
      margin-left: 1rem;
      margin-right: 1rem;
      @include bp("tablet") {
        width: 100%;
      }
      @include bp("laptop") {
        width: 50%;
      }
      flex-direction: column;
      justify-content: center;
    }
    .time-id-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.btn-primary {
  background-color: white;
  color: gray;
  border-color: gray;
}
.btn-primary:hover {
  color:black;
  background-color: white;
  border-color: gray;
  border-color: gray;
}

.btn-primary:selection {
  background-color: white;
  border-color: gray;

}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: white;
  border-color: gray;

  border-color: gray;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color:white;
  border-color: gray;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: white;
  color: gray;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
  color: gray;
  background-color: white;
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: white;

  box-shadow: none;
  color: gray;
}

.btn-primary.focus,
.btn-primary:focus {
  border-color: gray;

  color: gray;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: white;
  color: gray;
}

.menu-text{
  @include bp("phone") {
    visibility: hidden;
    display: none;

  }

  @include bp("laptop") {
    visibility: visible;
    display: block;
  }


}
.close{
  color: white;
  outline: 0;
}
.contact-info-text{
  @include bp("phone") {
    visibility: hidden;
    display: none;

  }
  @include bp("television") {
    visibility: visible;
    display: block;
 
  }
  
}